<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="/assets/super.css">
</head>
<body>
	<h1> Welcome home customer </h1> 
	<a href="/home1/profile1">Profile</a> 
	<a href="/home1/search1">Search</a> 
	 
	

	<a href="/logout">logout</a>

</body>
</html>