<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
</head>
<body>




<div class="container">
  <h2>Welcome Second Hand Book Management System</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Profile</a></li>
    <li><a data-toggle="tab" href="#adduser">Add User </a></li>
	<li class="active"><a data-toggle="tab" href="#userlist">User List</a></li>
    <li><a data-toggle="tab" href="#addbook">Add Book</a></li>
       <li><a data-toggle="tab" href="#booklist"> Book List</a></li>
	
	
	  <li><a data-toggle="tab" href="#join"> JOIN</a></li>
    <li><a data-toggle="tab" href="#search">Search for User</a></li>
    
	    <li style="float:right"><a data-toggle="tab" href="#search">Search for Books</a></li>
	
	
     <li style="float:right"><a data-toggle="tab" href="#logout"class="btn btn-primary">LOGOUT</a></li>  
  </ul>
  

     <div id="home" class="tab-pane fade">
      <h3>  <a href="/home/profile">Profile</a></h3>
	  </div>
    <div id="menu1" class="tab-pane fade">
      <h3>  <a href="/home/profile">Profile</a></h3>
	  </div>
	  
	  <div id="adduser" class="tab-pane fade">
      <h3> <a href="/home/adduser">Add User</a></h3>
	  </div>
    <div id="userlist" class="tab-pane fade">
    <h3> <a href="/home/userlist">User List</a></h3>
    </div>
	 <div id="addbook" class="tab-pane fade">
   <h3> <a href="/home/addbook">Add Book</a></h3>
    </div>
	
	<div id="booklist" class="tab-pane fade">
<h2><a href="/home/booklist">Book list</a></h2>
    </div>
	
	<div id="join" class="tab-pane fade">
<h2><a href="/home/join">join</a></h2>
    </div>
	<div id="search" class="tab-pane fade">
<h1><a href="/home/search">Search for User</a></h1>
    </div>
	
	<div id="search" class="tab-pane fade">
<h1><a href="/home/search">Search for Books</a></h1>
    </div>
    
  </div>

<div id="logout" class="tab-pane fade">
<h1><a href="/logout">logout</a></h1>
    </div>
	

</body>
</html>