<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(() =>{
	$('#key').keyup(() => {
		
		//console.log('You received some data!', data);
		//alert('test');
		$.ajax({
			url: '/homeAdmin/search/'+$('#key').val(),
			type: 'GET',
			dataType : 'json',
			success: (data) => {
				console.log(data.length);
				
				var table= "<table><tr><td>Id</td><td>Name</td><td>Username</td><td>Password</td><td>email</td><td>Type</td>"
				for(var i=0; i<data.length; i++){
					table += "<tr><td>"+data[i].id+"</td>"+
								"<td>"+data[i].name+"</td>"+
								"<td>"+data[i].username+"</td>"+
								"<td>"+data[i].password+"</td>"+
								"<td>"+data[i].email+"</td>"+
								"<td>"+data[i].utype+"</td></tr>";
				}
				
				table += "</table>";
				
				$('#mytable').html(table);
			}
		});
    });

});
</script>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1> SearchUser</h1>  
	<a href="/homeAdmin">Back</a> |
	<a href="/logout">logout</a>

<input  type="text" placeholder="Search.." id="key">
<br><br>

<div id="mytable">

</div>
  

</body>
</html>